body, html {
    margin: 0px;
    padding: 0px;
<<<<<<< HEAD
}

.navbar {
    border-radius: 0% !important;
    background-color: #222;
}

main {
    padding-top: 50px;
=======
>>>>>>> a18dfbc216f4bffdff9bcaa5344ec31f407952ea
}